[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "vim/pack/minpac/opt/minpac"]
	path = vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
