snippet import "import file" b
import { ${1} } from '${2}';
endsnippet

snippet const "constructor" b
constructor(${1}) { }
endsnippet

snippet fn "function" b
${1:function}(${2}) {
${3:/* not implemented yet */}
}
endsnippet
